/* Move down content to make room for fixed navbar */
body {
  padding-top: 25px;
  padding-bottom: 10px;
}
/* Be screen reader friendly */
.icon-label {
    font-size: 0;
}

.sslbtn {
    background-color:#60731A;
}