@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* Splash page CSS for sunrise.overdrive.pw */
html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
	background-color: #333339;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("sunriseLarge.jpg");
	color: white;
	font-family: sans-serif;
    text-align: center;
}
h1,p.lead,.nav {
    text-shadow: 2px 1px 1px #111; 
    font-family:"Droid Sans", sans-serif;
}
.nav {
   margin: 10px;
}
h1 {
	font-size: 48px;
    color: #e5ebf0;
    margin: 9px;
}
p {
	margin: 0px 0px 10px 0px;
	padding: 0;
	font-size: 14px;
}
.lead {
    font-size: 20px;
}

a {
	color: #33eaea;
	text-decoration: none;
}
a:hover {
	color: #aaeeee;
}
.container {
    border: 0;
    width: 100%;
    height: 100%;
}
.container-inner {
    text-align: center;
    height: 100%;
    vertical-align: middle;
}
.footer {
    text-align: center;
    color: #999999;
    padding-bottom: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
}
.nav > ul > li {
    display: inline;
    padding-top: 15px;
    font-family:"Open Sans", sans-serif;
}
.nav ul > li > a, #sitelist {
    background: rgb(34, 34, 42);
    background: rgba(34, 34, 42, .5);
}
.nav ul > li > a {
    padding: 4px;
    font-size: 18px;
    color: #EEEEEE;
    border-radius:9px;
}
.nav ul > li > a:hover,
.nav ul > li > a:focus {
    color: #EEEE88;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

#sitelist {
    border-radius: 15px;
    border:inset 4px #b4b4b4;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

#sitelist > li {
    padding: 4px;
    font-size: 20px;
}